# Biblioteca

In [9]:
import pandas as pd

## Gerando Dados

In [24]:
dados = pd.read_excel("vendas.xlsx")

In [25]:
# listar as primeiras linhas
dados.head(5)

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01

In [26]:
# listar as ultimas linhas
dados.tail(5)

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
69995,PED67084,2022-12-31,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Crédito,2022-12
69996,PED67857,2022-12-31,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,200ml,Consumo no local,7,Pix,2022-12
69997,PED69171,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,500ml,Consumo no local,5,Dinheiro,2022-12
69998,PED69229,2022-12-31,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,9,Pix,2022-12
69999,PED69356,2022-12-31,Loja 1,Fortaleza,Ceará,Nordeste,300ml,Delivery,9,Pix,2022-12

In [ ]:
# tamanho da tabela de dados
dados.shape

In [ ]:
# tipos de dados
dados.dtypes

## Ánalise

In [27]:
# total de vendas por loja, funciona com todos os dados...
dados.estado.value_counts()

São Paulo         25660
Rio de Janeiro    18921
Santa Catarina    13075
Ceará             12344
Name: estado, dtype: int64

In [28]:
# ex: cidade
dados.cidade.value_counts()

Santos            13483
Florianópolis     13075
Fortaleza         12344
São Paulo         12177
Rio de Janeiro    10603
Niterói            8318
Name: cidade, dtype: int64

In [29]:
# ex: região
dados.regiao.value_counts()

Sudeste     44581
Sul         13075
Nordeste    12344
Name: regiao, dtype: int64

## Agrupamento de Dados

In [30]:
# faturamento por loja, funciona com todos os dados 
dados.groupby("loja").preco.sum()

loja
Loja 1    103162
Loja 2     69592
Loja 3     88357
Loja 4    112379
Loja 5    102189
Loja 6    109185
Name: preco, dtype: int64

In [31]:
# ex: faturamento médio por loja
dados.groupby("loja").preco.mean()

loja
Loja 1    8.357259
Loja 2    8.366434
Loja 3    8.333208
Loja 4    8.334866
Loja 5    8.391968
Loja 6    8.350669
Name: preco, dtype: float64

In [32]:
# ex: faturamento por estado
dados.groupby("estado").preco.sum()

estado
Ceará             103162
Rio de Janeiro    157949
Santa Catarina    109185
São Paulo         214568
Name: preco, dtype: int64

In [34]:
# juntando dois dados e colocando em colunas, funciona com todos os dados
dados.groupby(["estado","cidade"]).preco.mean().to_frame()

                                  preco
estado         cidade
Ceará          Fortaleza       8.357259
Rio de Janeiro Niterói         8.366434
               Rio de Janeiro  8.333208
Santa Catarina Florianópolis   8.350669
São Paulo      Santos          8.334866
               São Paulo       8.391968

In [35]:
# ex: tamanho e preço
dados.groupby(["tamanho","preco"]).preco.mean().to_frame()

               preco
tamanho preco
1000ml  5        5.0
        7        7.0
        9        9.0
        11      11.0
        13      13.0
200ml   5        5.0
        7        7.0
        9        9.0
        11      11.0
        13      13.0
300ml   5        5.0
        7        7.0
        9        9.0
        11      11.0
        13      13.0
500ml   5        5.0
        7        7.0
        9        9.0
        11      11.0
        13      13.0
700ml   5        5.0
        7        7.0
        9        9.0
        11      11.0
        13      13.0

In [ ]:
# para enviar no excell
dados.groupby(["estado", "cidade"]).preco.sum().to_excel("Faturamento-estado-cidade.xlsx")